.root {
    -fx-background-image: url("/images/gamebackground.jpeg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#summaryID,
#mainMenuID{
    -fx-background-image: url("/images/background.jpeg") !important;
}


.exit-bottom{
    -fx-padding: 20;
}

.title-text{
    -fx-font-family: "Irish Grover";
    -fx-font-size: 96;
    -fx-text-fill: #CAA855;
}

.port-field{
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-background-color: #D9D9D9;
    -fx-min-width: 400;
    -FX-max-width: 500;
    -fx-max-height: 58;
    -fx-alignment: center;
    -fx-font-family: "Irish Grover";
    -fx-font-size: 30;
    -fx-text-fill: #000000;
}

.replay-bttn,
.start-button{
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-background-color: #45BC4B;
    -fx-border-color: #000000;
    -fx-text-fill: white;
    -fx-font-family: "Irish Grover";
    -fx-font-size: 70;
}

/*GAME SCREEN STYLES*/

/*RIGHT SIDE*/
.control-panel{
    -fx-min-width: 50;
    -fx-padding: 0 20 0 20;
}

.player-hand-text,
.bet-label{
    -fx-alignment: center;
    -fx-font-family: "Irish Grover";
    -fx-text-fill: #ffffff;
    -fx-font-size: 20;
    -fx-padding: 10 0;
}

.bet-field{
    -fx-alignment: center;
    -fx-font-family: "Irish Grover";
    -fx-max-width: 200;
    -fx-border-width: 2;
    -fx-border-color: black;
    -fx-padding: 10 20;
}

.games-log-panel{
    -fx-max-height: 250;
    -fx-background-color: #105839;
    -fx-border-width: 10;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-border-color: black;
}

.games-log-panel .list-cell {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-family: "Irish Grover";
    -fx-text-fill: white;
}

.game-button-fold,
.game-button{
    -fx-font-family: "Irish Grover";
    -fx-text-fill: #ffffff;
    -fx-font-size: 20;
    -fx-padding: 10 30;
    -fx-border-color: black;
    -fx-border-width: 3;
    -fx-border-radius: 25;
    -fx-background-radius: 25;
    -fx-background-color: #45bc4a;
}

.game-button-fold{
    -fx-background-color: #CAA855 !important;
}

.start-button:hover,
.game-button-fold:hover,
.game-button:hover{
    -fx-background-color: #82ea87;
    -fx-cursor: hand;
}

.game-button-fold:hover{
    -fx-background-color: #fde7a3 !important;
}

/*TOP SIDE*/
.menu-display {
    -fx-max-width: infinity !important;
    -fx-hgrow: always;
    -fx-padding: 30 20 0 30;
}

.menu-Option {
    -fx-font-family: "Irish Grover";
    -fx-font-size: 25px;
    -fx-alignment: center;
    -fx-text-fill: #ffffff;
}

.menu-Option:hover {
    -fx-underline: true;
    -fx-cursor: hand;
}

#exitOption{
    -fx-text-fill: #ab0000;
}

/*CENTER*/

.player-hand-text{
    -fx-text-fill: #CAA855 !important;
}

.info-container {
    -fx-padding: 10;
}

.hand-container{
    -fx-alignment: center;
    -fx-min-width: 800;
    -fx-max-width: 900;
    -fx-min-height: 220;
    -fx-max-height: 220;
    -fx-border-width: 4;
    -fx-border-color: white;
    -fx-border-radius: 20;
}



/*END SCREEN*/

.title-text{
    -fx-font-family: "Irish Grover";
    -fx-font-size: 96;
    -fx-text-fill: #CAA855;
}

.game-summary-text{
    -fx-font-family: "Irish Grover";
    -fx-font-size: 45;
    -fx-text-fill: #ffffff;
}